@font-face {
  font-family: 'Beon';
  src: url('beon-webfont.eot'); /* IE9 Compat Modes */
  src: url('beon-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('beon-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('beon-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('beon-webfont.svg#svgbeon') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#scroll {
    width: 300px;
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
}

#scroll #line-wrap {
    height: 30px;
    width: 100%;
    position: relative;;
}

#scroll #line-wrap #scroll-line {
    position: absolute;
    height: 30px;
    width: 2px;
    border-radius: 2px;
    animation: scroll-motion 1s linear infinite;
    margin-left: 50%;
    background-color: #fff;
}

@keyframes scroll-motion {
    0% {height: 0}
    50% {height: 30px}
    100% {height: 0; bottom: 0; top: auto}
}

#scroll p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #fff;
    padding: 10px;
}

#background {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #1d3d63;
    border-top: 1px solid #1d3d63;
    overflow-x: hidden;
}

#background #gradient {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #1a375a 77%, #1d3d63 88%, #1d3d63 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#1a375a 77%,#1d3d63 88%,#1d3d63 100%);
    background: linear-gradient(to bottom, #000000 0%,#1a375a 77%,#1d3d63 88%,#1d3d63 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1d3d63',GradientType=0 );
}

#background #zig-zag {
    height: 300px;
    width: 100%;
    background-image: url(../img/Header_zigzag_bckgrnd.png);
    background-repeat: repeat-x;
    position: absolute;
}

#background #welcome {
    font-family: 'Beon', monospace;
    position: absolute;
    color: #fff;
    font-size: 200%;
    left: 5%;
    top: 5%;
}

#background #welcome span {
    animation: flicker 4s infinite;
}

@keyframes flicker {
    0% {color: #50E3C2}
    5% {color: #fff}
    6% {color: #50E3C2}
    8% {color: #fff}
    10% {color: #50E3C2}
    20% {color: #fff}
    21% {color: #50E3C2}
    30% {color: #fff}
    32% {color: #50E3C2}
    34% {color: #fff}
    35% {color: #50E3C2}
    38% {color: #fff}
    50% {color: #50E3C2}
    70% {color: #fff}
    72% {color: #50E3C2}
    74% {color: #fff}
    76% {color: #50E3C2}
    80% {color: #fff}
    84% {color: #50E3C2}
    100% {color: #fff}
}

#diamonds-wrap {
    height: 400px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#diamonds-wrap .diamond {
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    width: 50%;
    left: 200px;
}

#diamonds-wrap .diamond:nth-child(1) {
    z-index: 10;
    background-color: rgba(0, 255, 198, 0.5);
}

#diamonds-wrap #center-diamond {
    background-color: #00FFC6;
    z-index: 8;
}

#diamonds-wrap .mini {
    background-color: #e1e1e1;
    z-index: 9;
    width: 25%;
    top: 100px;
    left: 10px;
}

#diamonds-wrap .diamond:nth-child(3) {
    position: absolute;
    right: 10px;
    left: auto;
}

section {
    height: 100%;
    width: 100%;
}