@font-face {
  font-family: 'Source Code Pro';
  src: url('SourceCodePro-Regular.eot'); /* IE9 Compat Modes */
  src: url('SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('SourceCodePro-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('SourceCodePro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('SourceCodePro-Regular.svg#svgbeon') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Beon';
  src: url('beon-webfont.eot'); /* IE9 Compat Modes */
  src: url('beon-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('beon-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('beon-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('beon-webfont.svg#svgbeon') format('svg'); /* Legacy iOS */
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Source Code Pro';
}

#scroll {
    width: 300px;
    position: fixed;
    z-index: 11;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
}

#scroll #line-wrap {
    height: 30px;
    width: 100%;
    position: relative;
}

#scroll #line-wrap #scroll-line {
    position: absolute;
    height: 30px;
    width: 2px;
    border-radius: 2px;
    animation: scroll-motion 1s linear infinite;
    margin-left: 50%;
    background-color: #fff;
}

@keyframes scroll-motion {
    0% {height: 0}
    50% {height: 30px}
    100% {height: 0; bottom: 0; top: auto}
}

#scroll p {
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    color: #fff;
    padding: 10px;
}

#background {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #1d3d63;
    border-top: 1px solid #1d3d63;
    overflow-x: hidden;
    overflow-y: visible;
}

#background #gradient {
    height: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #1a375a 77%, #1d3d63 88%, #1d3d63 100%);
    background: -webkit-linear-gradient(top, #000000 0%,#1a375a 77%,#1d3d63 88%,#1d3d63 100%);
    background: linear-gradient(to bottom, #000000 0%,#1a375a 77%,#1d3d63 88%,#1d3d63 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#1d3d63',GradientType=0 );
}

#zig-zag {
    height: 300px;
    width: 100%;
    background-image: url(../img/Header_zigzag_bckgrnd.png);
    background-repeat: repeat-x;
    position: absolute;
    z-index: 1;
}

#background #welcome {
    font-family: 'Beon', monospace;
    position: absolute;
    color: #fff;
    font-size: 200%;
    left: 5%;
    top: 5%;
    z-index: 2;
}

#flash {
    animation: flicker 4s infinite;
}

@keyframes flicker {
    0% {color: #50E3C2}
    5% {color: #fff}
    6% {color: #50E3C2}
    8% {color: #fff}
    10% {color: #50E3C2}
    20% {color: #fff}
    21% {color: #50E3C2}
    30% {color: #fff}
    32% {color: #50E3C2}
    34% {color: #fff}
    35% {color: #50E3C2}
    38% {color: #fff}
    50% {color: #50E3C2}
    70% {color: #fff}
    72% {color: #50E3C2}
    74% {color: #fff}
    76% {color: #50E3C2}
    80% {color: #fff}
    84% {color: #50E3C2}
    100% {color: #fff}
}

#diamonds-wrap {
    height: 400px;
    width: 800px;
    left: 50%;
    top: -300px;
    position: absolute;
    transform: translateX(-50%);
    z-index: 10;
}

#diamonds-wrap .diamond {
    position: absolute;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    width: 400px;
    height: 400px;
    left: 200px;
}

#diamonds-wrap .diamond:nth-child(1) {
    z-index: 10;
    background-color: rgba(0, 255, 198, 0.5);
}

#diamonds-wrap #center-diamond {
    background-color: #00FFC6;
    z-index: 8;
}

#diamonds-wrap .mini {
    background-color: #e1e1e1;
    z-index: 9;
    width: 200px;
    height: 200px;
    top: 100px;
    left: 10px;
}

#diamonds-wrap .diamond:nth-child(3) {
    position: absolute;
    right: 10px;
    left: auto;
}

#diamonds-wrap p {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    z-index: 10;
    transform: translateX(-50%);
    color: #aaa!important;
    font-family: 'Roboto Condensed', sans-serif;
}

#bio {
    width: 100%;
    font-family: 'Source Code Pro', monospace;
    position: relative;
    z-index: 1;
    border-top: 1px solid #1d3d63;
    background-color: #1d3d63;
}

#bio #bio-wrap {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
}

#bio h1 {
    font-family: 'Beon', sans-serif;
    color: #333;
    font-weight: 100;
    padding: 3rem 1rem 1rem 1.5rem;
}

#bio p {
    padding: 1rem 2rem;
    color: #333;
}

#portfolio {
    position: relative;
}

#portfolio h1 {
    font-family: 'Beon', sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 40px;
    padding: 150px 20px 50px 20px;
    text-align: center;
    background-color: #1d3d63;
}

#portfolio #zig-zag-background {
    background: #000000;
    background: -moz-linear-gradient(top, #fff 0%, #1a375a 77%, #1d3d63 88%, #1d3d63 100%);
    background: -webkit-linear-gradient(top, #1d3d63 0%, 1d3d63 10%, #1a375a 35%,#fff 60%,#fff 100%);
    background: linear-gradient(to bottom, #1d3d63 0%, #1d3d63 5%, #fff 25%, #fff 100%);
    height: 300px;
    width: 100%;
    position: absolute;
}

#portfolio #diamond-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#portfolio .grid {
    list-style-type: none;
    transform: rotate(45deg);
    position: relative;
    height: 870px;
    width: 870px; 
    margin: 50px;
    padding: 0;
    z-index: 2;
}

#portfolio .grid {
    margin-top: 180px
}

#portfolio .grid li {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: #fff;
    position: absolute;
    overflow: hidden;
    cursor: pointer;
}
    
#portfolio .grid li div {
    display: block;
    width: 150%;
    height: 150%;
    margin-top: -100px;
    margin-left: -100px;
    background-size: cover;
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    left: 0;
}
    
#portfolio .grid li:first-child {
    top: 0;
    left: 0;
}
#portfolio .grid li:nth-child(2) {
    bottom: 0;
    left: 0;
}

#portfolio .grid li:nth-child(3) {
    top: 0;
    right: 0;
}

#portfolio .grid li:nth-child(4) {
    bottom: 0;
    right: 0;
}

.show1 {
    background-image: url(../img/overwatch_preview.png);
    background-position: center center;
}

.show2 {
    background-image: url(../img/lemony.png);
}

.show3 {
    background-image: url(../img/Mummie.png);
    background-position: top center;
}

.show4 {
    background-image: url(../img/Lions.png);
    background-position: center center;
}

.description {
    opacity: 0;
    transition: opacity 0.5s;
    background-color: rgba(0, 255, 198, 0.7);
}

.description:hover {
    opacity: 1;
}

.description p {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 300px;
    left: 300px;
    transform: translateY(-50%) translateX(-50%);
    font-family: 'Source Code Pro';
    font-size: 15px;
}

.description p span {
    font-size: 30px;
}

#content-loader {
    width: 100%;
    height: 0;
    position: relative;
}

#contact {
    background-color: #1d3d63;
    text-align: center;
    width: 100%;
    color: #fff;
    margin-top: 50px;
}

#contact h1 {
    font-family: 'Beon';
    padding-top: 50px;
    letter-spacing: 2px;
}

#contact p {
    font-weight: 100;
    padding-top: 10px;
    font-size: 0.8rem;
}

#contact #socials {
    position: relative;
    height: 300px;
    width: 100%;
}

#contact #socials .icon {
    position: absolute;
    height: 40px;
    width: 40px;
}

#contact #socials .icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#contact #socials .icon:nth-child(1) {
    top: 20px;
    left: 10%;
}

#contact #socials .icon:nth-child(2) {
    top: 60px;
    left: 50%;
}

#contact #socials .icon:nth-child(3) {
    top: 170px;
    left: 35%;
}

#contact #socials .icon:nth-child(4) {
    top: 100px;
    left: 25%;
}

#contact #socials .icon:nth-child(5) {
    top: 150px;
    right: 30%;
}

#contact #socials .icon:nth-child(6) {
    top: 70px;
    right: 10%;
}

#contact #socials .icon:nth-child(7) {
    top: 220px;
    left: 15%;
}

#contact #socials .icon:nth-child(8) {
    top: 200px;
    right: 20%;
}

#contact #socials .icon:nth-child(9) {
    top: 220px;
    right: 40%;
}

footer {
    background-color: #1d3d63;
    height: 45px;
}

#stripe {
    height: 30px;
    width: 100%;
    background-color: #EFECEC;
    text-align: center;
    margin-bottom: 15px;
}

#stripe div {
    height: 10px;
    width: 10px;
    display: inline-block;
    transform-origin: bottom;
    transform: scale(2)
}

#stripe div img {
    height: 100%;
}

#stripe p {
    font-size: 14px;
    line-height: 30px;
    display: inline-block;
}

#pattern {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#pattern .patterns {
    display: flex;
    height: 100%;
    width: 80%;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
}

#pattern .patterns div {
    width: 50%;
    height: 80%;
    position: relative;
}

#pattern .patterns #descr p {
    padding: 0 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#pattern .patterns .thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.wireframes {
    height: 100%;
    background-color: plum;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.photoshop {
    height: 100%;
    background-color: palegoldenrod;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.doodles {
    height: 100%;
    background-color: dimgrey;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 600px) {
    #diamonds-wrap {
        height: 200px;
        width: 400px;
    }
    
    #diamonds-wrap #center-diamond, #diamonds-wrap .diamond:nth-child(1) {
        left: 100px;
        top: 50px;
    }
}